* {
    font-family: sans-serif;
}

#title {
    text-align: center;
    font-size: 48px;
}

#mapObject {
    width: 65%;
}

#legend {
    display: inline-block;
    vertical-align: top;
    margin: 50px;
    font-size: 24px;
}

#legendList {
    list-style-type: square;
    margin: 0;
    font-size: 24px;
}

.legendItem {
    margin: 20px 0;
    font-size: 20px;
}

.selectedLegendItem {
    font-weight: bold;
    font-size: 28px;
}
