* {
    font-family: fantasy !important;
}

body {
    background-image: url("https://steamcdn-a.akamaihd.net/steamcommunity/public/images/items/340220/01bf587da00fc14ea18ac97975cdb139dfad13a3.jpg");
    background-size: cover;
    height: 100vh;
}

input {
    background-color: rgba(255, 255, 255, 0.5);
}

#title {
    text-align: center;
    font-size: 48px;
}

#usernameInput {
    width: 100%;
    font-size: 28px;
}

#mapObject {
    width: 75%;
    height: 85vh;
}

#gameInfo {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#legend {
    display: inline-block;
    vertical-align: top;
    margin: 50px;
    font-size: 24px;
}

#legendList {
    list-style-type: square;
    margin: 0;
    font-size: 24px;
}

.legendItem {
    margin: 20px 0;
    font-size: 20px;
}

.selectedLegendItem {
    font-weight: bold;
    font-size: 28px;
}

.userLegendItem {
    font-style: italic;
}

#countryInfo {
    text-align: center;
    display: flex;
}

.remove-close .ui-dialog-titlebar-close {
    display: none;
}

#numberSlider {
    text-align: center;
    margin-top: 10px;
}
